@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color:steelblue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 650px;
    max-width: 1200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-weight: 300;
}

.btn {
    display: block;
    padding: 10px 20px;
    border-radius: 60px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
}

.btn-primary {
    background-color: #28a745;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #000000;
}

.btn-info {
    background-color: steelblue;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-info:hover {
    background-color: black;
}

.btn-danger {
    background-color: red;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-danger:hover {
    background-color: #000000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
}

caption {
    caption-side: top;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: left;
    font-weight: 600;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #000000;
}

th {
    background-color:antiquewhite;
    font-weight: 600;
    cursor:not-allowed;
    color: rgb(0, 0, 0);

}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td img {
    max-width: 100px;
    max-height: 100px;
    display: block;
    border-radius: 8px;
}

form {
    display: inline;
}

a{
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    background-color: #ff0000;


}

a:hover {
    text-decoration: underline;
    background-color: #000000;
}
