
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #ececec;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-weight: 300;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
select,
input[type="submit"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"]:focus,
select:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

input[type="submit"] {
    background-color:steelblue;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

input[type="submit"]:hover {
    background-color:rgb(108, 158, 199);
}

p {
    color: #28a745;
    text-align: center;
    font-weight: 600;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}
