<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>edit-product</title>
    <link rel="stylesheet" th:href="@{/css/edit-product.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/logos-removebg-preview.png}">
</head>
<body>
<div class="container">

    <form th:action="@{/edit-product/{id}(id=${product.id})}" th:object="${product}" method="post" enctype="multipart/form-data">
        <h1>Edit Product</h1>
        <label for="name">Product Name:</label>
        <input type="text" id="name" th:field="*{name}" />

        <label for="price">Product Price:</label>
        <input type="text" id="price" th:field="*{price}" />

        Product Category:
        <select th:field="*{category.name}">
            <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}"></option>
        </select><br/>
        Product Image: <input type="file" name="imageFile" /><br/>
        <img th:src="${product.image}" alt="Product Image" style="max-width: 100px; max-height: 100px;"><br/>

        <input type="submit" value="Save Changes" />
        <a th:href="@{/admin}">Return to Admin Home</a>

    </form>
    <p th:text="${message}"></p>

</div>
</body>
</html>